body {
    background-color: white;
    margin: 0;
    padding: 0;
}

section {
    padding: 4rem 0rem;
}

hr {
    border: 5px dotted #B0DB9C50;
    border-radius: 100px;
    text-align: center;
    width: 4%;
    border-bottom: 0px;
}

.hero {
    background-color: #DDF6D2;
    min-height: 768px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    height: 480px;
}

.hero-content h1 {
    font-size: 3rem;
    font-family: "Exile", system-ui;
    font-weight: 400;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.cloud {
    height: auto;
    width: 9rem;
}

.hero-content .mtn {
    margin: 0;
    align-self: flex-end;
    padding-top: 6rem;
    height: 22.5rem;

}

.about-me {
    background-color: white;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me .about-me-content {
    font-family: "Montserrat", sans-serif;
}

.about-me-content img {
    width: 150px;
    border-radius: 1000px;

}

.about-me-content h1 {
    font-size: 2.5rem;
    color: #B0DB9C;
}

.about-me-content p {
    display: inline-block;
    font-size: 1.1rem;
    width: 36rem;
    font-weight: 400;
}


.skills {
    background-color: white;
    min-height: 550px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills .skills-content {
    font-family: "Montserrat", sans-serif;
}


.skills-content h1{
    font-size: 2.5rem;
    color: #B0DB9C;
}

.skill-1 {
    margin-top: 6rem;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.img-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 2;
}

.img-wrapper img {
    max-width: 90%;
    height: auto;
  }

.skill-1 h2 {
    color: #B0DB9C;
    grid-area: 1 / 2 / 2 / -1;
    text-align: left;
}

.skill-1 p {
    grid-area: 2 / 2 / 3 / -1;
    text-align: left;
}

.skill-2 {
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.skill-2 h2 {
    color: #B0DB9C;
    grid-area: 1 / 2 / 2 / -1;
    text-align: left;
}

.skill-2 p {
    grid-area: 2 / 2 / 3 / -1;
    text-align: left;
}

.projs {
    background-color: white;
    min-height: 550px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projs .projs-content {
    font-family: "Montserrat", sans-serif;
}


.projs-content h1{
    font-size: 2.5rem;
    color: #B0DB9C;
}

.proj-1 {
    margin-top: 6rem;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.img-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 2;
}

.img-wrapper img {
    max-width: 90%;
    height: auto;
  }

.proj-1 h2 {
    color: #B0DB9C;
    grid-area: 1 / 2 / 2 / -1;
    text-align: left;
}

.proj-1 p {
    grid-area: 2 / 2 / 3 / -1;
    text-align: left;
}

.proj-2 {
    display: grid;
    margin-top: 4rem;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.proj-2 h2 {
    color: #B0DB9C;
    grid-area: 1 / 2 / 2 / -1;
    text-align: left;
}

.proj-2 p {
    grid-area: 2 / 2 / 3 / -1;
    text-align: left;
}

